# Using Kaggle API in Visual Studio Code

## Overview
The Kaggle API allows you to interact with the Kaggle platform from the command line. This guide will cover installing the Kaggle API and navigating directories in Visual Studio Code.

## Installation

### 1. Install the Kaggle API
First, you need to install the Kaggle API using pip. Open the terminal in Visual Studio Code and run:

```bash
pip install kaggle

# Downloading `kaggle.json` for Kaggle API

## Overview
To use the Kaggle API, you need to authenticate with your Kaggle account. This is done using a `kaggle.json` file, which contains your API credentials. This guide explains how to download the `kaggle.json` file from the Kaggle website.

## Steps to Download `kaggle.json`

### 1. Log in to Kaggle
First, go to the [Kaggle website](https://www.kaggle.com) and log in to your account.

### 2. Navigate to Your Account
Click on your profile picture in the top right corner of the page, then select "My Account" from the dropdown menu.

### 3. Create a New API Token
Scroll down to the "API" section. Click on the "Create New API Token" button. This action will generate a new `kaggle.json` file containing your API credentials.

### 4. Download `kaggle.json`
The `kaggle.json` file will be automatically downloaded to your computer. This file contains your username and API key in JSON format.

### 5. Secure `kaggle.json`
For security reasons, ensure that your `kaggle.json` file is kept private. Do not share it with others or upload it to public repositories.

## Setting Up `kaggle.json`

### 1. Locate Your Downloaded File
Find the `kaggle.json` file in your computer's Downloads folder or the location where your browser saves downloaded files.

### 2. Place `kaggle.json` in the Correct Directory

Move the `kaggle.json` file to the following directory:
```bash
D:\Dokumen\2024\Tutorial\ML-engineer\Twitter Sentiment Analysis" 
```
(since i want the kaggle.json is the same place as my main code)

### 3. Set the KAGGLE_CONFIG_DIR to the directory where 'kaggle.json' is located
```bash
os.environ['KAGGLE_CONFIG_DIR'] = "D:\Dokumen\2024\Tutorial\ML-engineer\Twitter Sentiment Analysis"
```

## Importing Sentiment Dataset

### Downloading a dataset
API to fetch the dataset from Kaggle
```bash
kaggle datasets download -d kazanova/sentiment140

In [1]:
#extracting the compressed dataset

from zipfile import ZipFile
dataset = 'sentiment140.zip'

with ZipFile(dataset, 'r') as zip:
    zip.extractall()
    print('bisa ni gan datanya')

bisa ni gan datanya

## Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\asust\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [4]:
#loading the data from csv file to pandas dataframe
tweets_data = pd.read_csv('2009-tweets.csv', encoding = 'ISO-8859-1')

In [5]:
# checking gthe number of rows and columns
tweets_data.shape

(1599999, 6)

In [6]:
 # printing point head of csv.

tweets_data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [7]:
# naming file data head

column_names = ['target', 'id', 'date', 'flag', 'user', 'text']
tweets_data = pd.read_csv('2009-tweets.csv', names=column_names, encoding= 'ISO-8859-1')

In [8]:
#checking number and rows
tweets_data.shape

(1600000, 6)

In [9]:
# printing the first 5 rows
tweets_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [10]:
# counting the number of missing values in the dataset
tweets_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [12]:
# checking the distribution of target column
tweets_data['target'].value_counts()

0    800000
4    800000
Name: target, dtype: int64

Convert the target "4" to "1"

In [15]:
tweets_data.replace({'target':{4:1}}, inplace=True)

In [16]:
tweets_data['target'].value_counts()

0    800000
1    800000
Name: target, dtype: int64

## Stemming

Stemming is the process of reducing a word to its Root word